.login-button {
    -fx-background-color: #f9b729; /* bright orange */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: 600;
    -fx-background-radius: 6px;
    -fx-cursor: hand;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.1), 4, 0.0, 0, 2 );
}